@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Playfair+Display:ital,wght@1,500&display=swap');
*{
    box-sizing: border-box;
}
body{
    color: black;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
}
.banner{
    background-image: url('../img/lemon-pie2.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    height: 350px;   
    padding-top: 160px;   
}
h1{
    font-weight: bold;
    font-size: 49px;
}
h2{
    font-weight: bold;
    font-size: 24px;
}
h3{
    font-family: 'Playfair Display', serif;
    font-size: 18px;
}
.merengue{
    text-decoration: underline;
    color: rgb(243, 111, 2);    
}